*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;

}

.imageLogo{
	width: 20%;
	height: 20%;
	object-fit: cover;
}
.imagenProducto{
    height: 80%;
    width: 80%;
    object-fit: cover;
}
a {
	text-decoration: none;
}


.contenedor {
	width: 90%;
	max-width: 75em;
	margin: 1,25em auto;
	display: grid;
	grid-gap: 1,25em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'contenido		contenido 	contenido'
		'footer	 		footer 		footer';
}


/* ---------- HEADER ----------*/
.header {
    background-color: rgb(188, 236, 236);
	grid-area: header;
	padding: 1,25em;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.header .logo {
	margin-bottom: 1,25em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0,19em;
}

.logo h1 {
	font-size: 16px;
}

.menu {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
}

.menu a {
	padding: 0,625em;
	color: #000;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 16px;
}

.menu a:hover {
	background: #000;
	color: #fff;
}

/* ---------- Articulos ----------*/
.articulo {
	display: flex;
	background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.articulo .contenedor-texto {
	padding: 1,25em;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.articulo .contenedor-producto {
	width: 50%;
}

.articulo .titulo {
	margin-bottom: 0,625em;
	font-size: 1,56em;
}

.articulo .titulo a {
	font-weight: 400;
	color: #000;
}
.articulo .extracto {
	font-size:1,25em; 
	line-height: 15px; 
	font-weight: 100;
	margin-bottom: 1,25em; 
	color:black;
}

/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
	grid-area: destacado;
	color: white;
	background-color: #000;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

	display: grid;
	grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-producto {
	min-height: 100%;
	width: 100%;
}

.articulo.destacado .contenedor-producto a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.destacado .titulo a {
	color: #fff;
}

.destacado .titulo::after {
	content: '';
	margin: 0.625em 0; 
	display: block;
	background-color: #868686;
	width: 6em; 
	height: 1px;
}

/*---------- CONTENIDO ----------*/
.contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 1,25em; 
}

/*---------- FOOTER ----------*/
.contenedor .footer {
    background-color:aquamarine;
	font-size: 1,25em; 
	grid-area: footer;
	padding: 1,25em; 
	text-align:center;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
} 
.imagenFooter{
    width: 8em;
    height: 8em;
}

@media (max-whidth: 1200px){
	body {
		font-size: 14px;
	}
	
}

@media (max-width:992px){

	.contenedor {
    grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header	  	header'
		'destacado	 	destacado'
		'contenido		contenido'
		'footer	 		footer';
}

}

@media (max-width:768px) {
   .contenedor {
	grid-template-rows: repeat(4, auto);
	grid-template-columns: repeat(2,1fr);
	grid-template-areas:
	'header	  	header'
	'destacado	 	destacado'
	'contenido		contenido'
	'footer	 		footer';
}
}


@media (max-width:576px) {
	.contenedor {
	grid-template-rows: repeat(12, auto);
	grid-template-columns: repeat(1,1fr);
	grid-template-areas:
		'header'
		'header'
		'header'
		'destacado'
		'destacado'
		'destacado'
		'contenido'
		'contenido'
		'footer'
		'footer'
		'footer';
}

}




/*contacto*/
*{margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;

}

.contacto {
    width: 90%;
	max-width: 75px;
	margin: 1,25em auto;
	display: grid;
	grid-gap: 1,25em;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'headerContacto'
        'ubicacion'
		'footer	'
        ;
}
.headerContacto{
    grid-area: headerContacto;
    background-color: aqua;
    padding: 1,25em;
	width: 90%;
	max-width: 75em;
	margin: 1,25 auto;
	display: grid;
	grid-gap: 1,25em;

    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.ubicacion {
	grid-area: ubicacion,
}


/*---------- FOOTER ----------*/
.footerContacto {
    width: 90%;
	max-width: 75em;
	margin: 1,25em auto;
    grid-area: footer;
    background-color:aquamarine;
	font-size:1,25em; 
	padding: 1,25em; 
	text-align:center;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
} 


.footer{
    grid-area: footerContacto;

}

/*formas de pago*/
.pago {
    width: 90%;
	max-width: 75em;
	margin: 1,25em auto;
	display: grid;
	grid-gap: 1,25em;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'headerPago'
        'formasPago'
		'footerPago	'
        ;
}

.headerPago {
	grid-area: headerPago ;
	background-color: aqua;
	width: 90%;
	max-width: 75em;
	margin: 1,25em auto;
	display: grid;
	grid-gap: 1,25em;
	padding: 1,25em;

    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

}
.formasPago {
	grid-area: formasPago ;
	
}
.footerPago {
	grid-area: footerPago;
	width: 90%;
	max-width: 75em;
	margin: 1,25em auto;
    background-color:aquamarine;
	font-size: 1,25em; 
	padding: 1,25em; 
	text-align:center;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
} 


/*consultas*/
*{margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;

}

.contenedorConsulta {
    width: 100%;
	max-width: 75em;
	margin: 1,25em auto;
	display: grid;
	grid-gap: 1,25em;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'header'
        'formulario  '
		'footer	'
        ;
}
.contenedorConsulta header{
    grid-area: header;
    background-color: aqua;
    padding: 1,25em;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.contenedorConsulta.main.formulario{
    grid-area: formulario;

}


/*---------- FOOTER ----------*/
.footerConsulta {
    width: 90%;
	max-width: 1200px;
	margin: 20px auto;
    grid-area: footer;
    background-color:aquamarine;
	font-size: 20px; 
	padding: 20px; 
	text-align:center;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
} 
.imagenFooter{

    width: 8em;
    height: 8em;
}

/*producto*/

.producto {
	width: 90%;
	max-width: 75em;
	margin: 1,25em auto;
	display: grid;
	grid-gap: 1,25em;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'headerProductos'
        'section'
		'footerProductos	'
        ;

}
.headerProductos {
	grid-area: headerProducto;
    background-color: aqua;
    padding: 1,25em;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.footerProductos {
	width: 100%;
	max-width: 75rem;
	margin: 1,25em auto;
    grid-area: footerProductos;
    background-color:aquamarine;
	font-size: 1,25em; 
	padding: 1,25em;
	text-align:center;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.section {
	grid-area: section;
	width: 90%;
}






